.main{
  width: 100%;
  height: 100%;
 background-color: antiquewhite;
}
.container {
    /* height: calc(100vh - 100px); */
    
    background-color:#d5e1df;
    
    /* display: flex; */
  }
  
  .item {
    flex: 1;
    position: relative;
    display: flex;
  }
  
  .item:last-child {
    flex: 2;
    padding: 50px;
    justify-content: space-between;
  }
  
  .card {
    flex: 1;
    padding: 0 20px;
  }
  
  .title {
    font-size: 18px;
    color: #b7903c;
  }
  
  .text {
    color: rgb(5, 0, 0);
  }
  
  .motto {
    color: rgb(5, 5, 5);
  }
  
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
      text-align: center;
    }
    .item:first-child {
      display: none;
    }
  
    .item {
      flex-direction: column;
    }
  
    .title {
      font-size: 30px;
    }
  
    .text {
      font-size: 20px;
    }
  }
  


   @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);





